@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&family=Roboto:wght@400;500;700&display=swap');
body{
  background: #232529;
  color:white;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Roboto",sans-serif;
}
.container{
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 20px;
}
.desc{
  font-size: 18px;
  line-height: 40px;
}
@import "header";
@import "Home";